body{
    
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.main{
    padding: 0px 15px;
      
}
/*navbar*/
nav{
    font-family: Ruda;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
    left: 0;
    background-color: black;
    
  
}

.navbar .logo{
   
   padding-left: 40px;
   
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.06em;
   text-align: center;
   
}

.navbar .fild a{
    text-decoration: none ;
    padding: 0px 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    
}
.fild a:hover{
    color: #F24C4C;
}
.socialmedia img{
    
    
    width: 45px;
    align-items: center;
    
    
}
.socialmedia{
    
    padding-right: 60px;

}

.fild{
    
    padding-right: 80px;
    
}


/*container*/

/********************Advertise*************8*/
.advertisement{
    
    position:absolute;
    background-repeat: no-repeat;
    width: 1490px;
    height: 700px;
    top: 0;
    margin-top: 4%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.05) 0.01%, rgba(31, 31, 31, 0.0529908) 0.02%,
            rgba(0, 0, 0, 0.065) 13.02%, rgba(0, 0, 0, 0.5) 100%), url("images/Big_pizza.png");
    filter: drop-shadow(3px 6px 18px rgba(0, 0, 0, 0.25));
    
}

.add p{
    width: 100px;
    width: 550px;
    height: 250px;
    margin: 0px 100px;

    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;

}
.add h1{
    margin: 0px 100px;
    
    width: 600px;
    height: 200px;
    font-size: 80px;
    
    
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.09em;
    text-align: left;
    
    padding-bottom: 40px;
    
    
}
.add .divider{
    box-sizing: border-box;

    position: absolute;
    width: 430px;
    height: 13px;
    left: 100px;
    top: 250px;
    
    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25)

}

/*containts*/
    /*************ABOUT US**************/



    .about_sec h1{
        position: absolute;
        width: 600px;
        height: 58px;
        left: 599px;
        top: 900px;
    
        font-family: 'Quattrocento';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 0px;
        /* or 0% */
    
        display: flex;
        align-items: center;
        text-align: center;
        
        
    }
    .about_sec .divider{
        position: absolute;
        background-color: #B62828;
        display: inline-block;
        height: 10px;
        width: 450px;
        left: 490px;
        top: 1000px;
        border-radius: 0px;
    
    
    }
    
.about_sec .about_containt p{

    display: flex;

    position: absolute;
    width:420px;
    height: 200px;
    left: 293px;
    top: 1150px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 160% */

    letter-spacing: 0.15em;

    
}

.about_containt .divider{
    box-sizing: border-box;

    position: absolute;
    width: 330px;
    height: 4px;
    left: 293px;
    top: 1140px;

    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.about_containt img{
    position: absolute;
    width: 450px;
    height: 300px;
    left: 800px;
    top: 1100px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.8) 100%), url(.jpg);
    border-radius: 10px;

    
}

/***************** menu **********************/

.menu_sec h1{
    position: absolute;
    width: 474px;
    height: 52px;
    left: 609px;
    top: 1550px;

    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;
}

.menu_sec .divider{
    position: absolute;
    width: 474px;
    height: 9px;
    left: 450px;
    top: 1650px;

    background: #B62828;
}
.menu_sec P{
    position: absolute;
    width: 800px;
    height: 78px;
    left: 280px;
    top: 1700px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 160% */

    letter-spacing: 0.09em;
    
}

.menu_card .card1 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 270px;
    top: 1800px;

    border-radius: 10px;
}
.card1 h3{
    position: absolute;
    width: 348px;
    height: 51px;
    left: 450px;
    top: 1770px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;

    color: #F2C94C;
}
.card1 p{
    position: absolute;
    width: 200px;
    height: 120px;
    left: 450px;
    top: 1820px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* or 200% */

    letter-spacing: 0.09em;
}


.menu_card .card2 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 270px;
    top: 1950px;

    border-radius: 10px;
}

.menu_card .card3 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 270px;
    top: 2100px;

    background: url(.jpg);
    border-radius: 10px;
    
}

.menu_card .card4 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 690px;
    top: 1800px;

    background: url(.jpg);
    border-radius: 10px;
}
.menu_card .card5 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 690px;
    top: 1950px;

    background: url(.jpg);
    border-radius: 10px;
}
.menu_card .card6 img{
    position: absolute;
    width: 170px;
    height: 130px;
    left: 690px;
    top: 2100px;

    background: url(.jpg);
    border-radius: 10px;
}



/****************************** footer *****************************/
.footer{
    background-color: black;
}




